<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <link href="/stylesheets/espace.css" rel="stylesheet" />

    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/scripts/broechem.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46990458-4', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
  <body>
  <div class="stars"></div>
  <div class="shine"></div>

    <div class="container">


      <div class="conversation">
        <div class="message message--other">
          <img class="message__avatar fourth" src="<%= @tweet.high_quality_profile_image %>">
          <p class="message__text three-fourth"><%= @tweet.text %></p>
        </div>

        <div class="message message--inferis row">
          <p class="message__text three-fourth"><%= @reply %></p>
          <img class="message__avatar fourth" src="https://pbs.twimg.com/profile_images/649206517011496960/BAHyU1zY_400x400.jpg">
        </div>
      </div>
    </div>

    <!-- Whatever you, don't press these keys -->
    <div class="modal do-no-press-the-d-key" aria-hidden="true">
      <img class="modal__image" src="/img/d_donkey.gif" />
    </div>

    <div class="modal do-no-press-the-r-key" aria-hidden="true">
      <img class="modal__image" src="/img/dotter_magic_word.gif" />
    </div>
  </body>
</html>
