<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/stylesheets/espace.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="fourth"></div>
        <div class="three-fourth"></div>
      </div>

      <div class="message message--other row">
        <img class="message__avatar fourth" src="https://pbs.twimg.com/profile_images/476829051194462208/3xG9k9j-_400x400.jpeg">
        <p class="message__text three-fourth">Current status: ignoring all the STAND UP DUDE notifications my Watch is throwing me.</p>
      </div>

      <div class="message message--inferis row">
        <p class="message__text three-fourth">¯\_(ツ)_/¯</p>
        <img class="message__avatar fourth" src="https://pbs.twimg.com/profile_images/476829051194462208/3xG9k9j-_400x400.jpeg">

      </div>
    </div>
  </body>
</html>
